DATABASE_URL=postgres://user:password@localhost:5432/db-name
PG_POOL_MAX=10
PG_IDLE_TIMEOUT_MS=5000
ADMIN_USERNAME=$USERNAME
ADMIN_PASSWORD=$PASSWORD
ADMIN_JWT_SECRET=$UUID
ADMIN_ACCESS_TOKEN_TTL_SECONDS=100000000
CLOUD_MAIL_BASE_URL=$CLOUD_MAIL_URL
CLOUD_MAIL_AUTHORIZATION=$AUTH_TOKEN
API_BASE_URL=$BACKEND_URL
GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET
